@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-roboto: 'Roboto', sans-serif;
}

header {
    background: black;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

.menu-bar a {
    color: white;
    font-family: var(--font-roboto);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}

.menu-bar a:hover {
    color: grey;
}

.menu-bar li {
    list-style: none;
}

.menu-bar {
    display: flex;
    gap: 30px;
}

.topo img {
    height: 150px;
    width: 100%;
}

.comunication-container {
    background: rgb(192, 192, 192);
    padding-bottom: 3em;
    padding-top: 6em;
}

.comunication-content {
    display: flex;
    gap: 1em;
    padding-top: 3em;

}

.comunication-container h1 {
    font-family: var(--font-roboto);
    font-size: 2.5em;
    margin-top: 2em;
    text-align: center;
    text-shadow: 5px 5px 10px;
}

.bloco {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.bloco li {
    list-style: none;
}

.bloco a {
    display: flex;
    font-family: var(--font-roboto);
    font-size: 1em;
    cursor:pointer;
    padding: 15px;
    align-items: center;
    list-style: none;
    color: white;
    text-decoration: none;
    width: 300px;
    height: 35px;
    border-radius: 8px;
    background: grey;
}

.comunication-content a:hover {
    color: white;
    background: black;
}

.calculator-container {
    background: rgb(4,116,128);
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 10px;
    border-radius: 10px;

}
.calculator-container h1 {
    font-family: var(--font-roboto);
    font-size: 2.5em;
    margin-top: 2em;
    text-align: center;
    text-shadow: 5px 5px 10px;
}

.calculator-container p {
    font-family: var(--font-roboto);
    text-align: center;
    font-size: 1.5em;
}

.calculator-info label {
    font-family: var(--font-roboto);
    margin-top: 15px;
    color: white;
}

.calculator-info input {
    padding: 8px;
    border-radius: 8px;
    border: none;
}

.calculator-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#btn-calc {
    padding: 10px 60px;
    background: grey;
    color: black;
    border-radius: 8px;
    text-transform: uppercase;
    margin-top: 20px;
    border: none;
    font-weight: bold;
    margin-bottom: 50px;
    cursor: pointer;
}

#btn-calc:hover {
    background: black;
    color: white;
}

#btn-clear {
    background: grey;
    color: black;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    padding: 10px 30px;
}

#btn-clear:hover {
    background: black;
    color: white;
}

.footer-content {
    height: 5em;
    background: black;
    font-family: var(--font-roboto);
    color: #fff;
    font-size: .8em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.calculator-info span {
    margin-bottom: 50px;
    font-family: var(--font-roboto);
    padding: 10px 50px;
    color:white;
    border-radius: 8px;
}




