@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-roboto: 'Roboto', sans-serif;
}

.topo img {
    height: 550px;
    width: 100%;
}

.comunication-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background: rgb(192, 192, 192);
    padding-bottom: 300px;
    margin-top:-20px;
}

.comunication-content h1 {
    font-family: var(--font-roboto);
    font-size: 2.5em;
    margin-top: 3em;
    text-align: center;
}

.comunication-content a {
    color: black;
    font-family: var(--font-roboto);
    font-size: 1em;
    text-decoration: none;
    line-height: 2.5em; 
    cursor:pointer;
    background: grey;
    padding: 15px;
    border-radius: 8px;
    list-style: none;
    text-transform: none;
    display:block;
    margin-bottom: 5px;
}

.comunication-content li {
    list-style: none;
}

.comunication-content ul {
    margin-top: 3em; 
}

.comunication-content a:hover {
    color: white;
    background: black;
}




